@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
    font-family: 'SF Pro Display', sans-serif;
    margin: 0;
    background-color: #f4f1ea; 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

header button {
    border: 1px solid #f5f0c0; 
    font-size: 1.2rem;
    height: 40px;
    width: 90px;
    margin: 20px;
    background-color: #f5f0c0; 
    color: #7a4e15; 
    padding: 10px;
    border-radius: 8px;
    transition: all 0.2s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

header button:hover {
    cursor: pointer;
    background-color: #e0b973; 
    transform: translateY(-2px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

header button:active {
    transform: translateY(1px);
    background-color: #b78b48;
}
